<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css-file"/>
  </head>
  <body>
    <header>
    </header>
    <main>
      <div class="simple-div">
        <p style="text-align: center; font-family: 'ibmplex bold'; font-size: 6vh; margin: 0px 20px 0px 20px;">&#x1F232;<br> Huh...?</p>
        <p
        style="text-align: center; font-family: 'ibmplex med'; font-size: 2vh; margin: 0px 20px 0px 20px;">Illegal access. Sorry, you must stop here.</p>
        
        <a href="/info">
          <button style="margin-top: 20px;" id="submit-button">&#x1F3E0; Go back home</button>
        </a>
        </div>
      </div>
    </main>
    <footer>
      <isr id="legalKeyHolder" key="{{legalKey}}"></isr>
      <isr id="accuracy" pass="x"></isr>
    </footer>
    <script type="module" src="side-xjs"></script>
  </body>
</html>