<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css-file"/>
  </head>
  <body>
    <header>
    </header>
    <main>
      <div class="second-div">
        <p style="
            font-family: 'museoModerno bold'; 
            font-size: 7vh;
            background: -webkit-linear-gradient(bottom,#ff0000, #70048e);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left;">ResQHub</p>
        <p style="font-family: 'ibmplex bold'; margin-top: 5px; font-size: 2.5vh;">safe API</p>
        <p style="font-size: 1.6vh; text-align: center; margin-bottom: 30px; max-width: 500px;">Developed by Rai. <br> (at the moment)</p>
        <div class="sub-detail-div">
          <div class="show">
              <p style="
              font-family: 'ibmplex reg';
              font-size: 2vh;
              margin: 10px;
              text-align: left;"
              >	&#x1F6A8; Seeking Aid For Emergencies (safe) API provides immediate comprehensive details about
               relevant SOS stations based on requester's geodetic point, powered with recommendation algorithm (in the future). &#x1F30F;</p>
          </div>
        </div>

          <a href="/input">
            <button style="font-size: 2vh; margin-top: 20px;">Get 10 credits to try out!</button>
          </a>
      </div>
      <div class="simple-div">
        <p style="font-family: 'ibmplex bold'; 
          text-align: center; 
          font-size: 4vh;
          margin-bottom: 30px;">Your support means everything for us! 	&#x1F970;</p>
        <div class="sub-detail-div">
          <div class="show">
            <p style="
            font-family: 'ibmplex reg';
            font-size: 2vh;
            margin: 10px;
            text-align: left;"
            >The API is currently under development. Your assistance will improve our recommendation algorithm. We kindly request your response to select the police stations or hospitals you would prefer in case of an emergency by clicking</p>
            <button style="font-size: 2vh; margin-bottom: 0px;">&#x1F49A; Vote Up</button>
            <p style="
            font-family: 'ibmplex reg';
            font-size: 2vh;
            margin: 10px;
            text-align: left;"
            >if you prefer it, and</p>
            <button style="font-size: 2vh; margin-bottom: 0px;">&#x26D4; Vote Down</button>
            <p style="
            font-family: 'ibmplex reg';
            font-size: 2vh;
            margin: 10px;
            text-align: left;"
            >if you don't recommend it. You can pick more than one vote. Super simple, isn't it? &#x1F607; Let's get started, shall we? Scroll down.</p>
          </div>
          <div class="show">
            <p style="
            font-family: 'ibmplex reg';
            font-size: 2vh;
            margin: 10px;
            text-align: left;"
            >&#x1F47D; Your vote will be recorded in our database anonymously. We process the database to feed our recommender algorithm to serve user's the best recommendation in release. All this is made possible thanks to your contribution!</p>
          </div>
        </div>
      </div>
      <div class="simple-div">
        <p style="font-family: 'ibmplex bold'; text-align: center; margin-bottom: 30px;">What's your emergency?</p>
        <p style="font-family: 'ibmplex bold'; text-align: center; margin-bottom: 0px; font-size: 2vh">&#x1F389; Help us reach 80 responses!</p><p style="font-family: 'ibmplex reg'; text-align: center; margin-bottom: 30px; font-size: 2vh" id="count">Currently: {{count}} and counting!</p>
        <div class="sub-detail-div">
          <div class="show">
            <p style="
            font-family: 'ibmplex reg';
            font-size: 2vh;
            margin: 10px;
            text-align: left;"
            >Rest assured, <span style="color:rgb(245, 136, 97)">there won't be an actual call made</span>. Yet, <span style="color:aquamarine">we do require your consent to activate your GPS and location at a later stage</span>. Your location WILL NOT be stored in our database (in the event of any location disclosure, <span style="color:blueviolet">Raihansyah Arifin at raihansyah.harahap@gmail.com will take full responsibility</span>). You can find me in LinkedIn by typing my name.</p>
            <a href="/police">
              <button style="font-size: 2vh;">&#x1F693; Get me police stations.</button>
            </a>
            <a href="/hospital">
              <button style="font-size: 2vh; margin-bottom: 10px;">&#x1F691; Get me hospitals.</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    </main>
    <footer>
    </footer>
  </body>
</html>