<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <header>
    </header>
    <main>
      <img src="https://storage.googleapis.com/xtq/logo.png" width="200px">
      <p style=
      "font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-align: left;">Thank you for trying out our API.</p>
      <p style=
      "font-family: Arial, Helvetica, sans-serif;
      margin: 0px;
      text-align: left;">Our API is still under development. Powered by Google Maps API, we are currently integrating our own recommendation system to recommend requester the best nearby police stations and hospitals. You have 10 credits to try our API. Usage: <br></p>
      <p style=
      "font-family:'Courier New', Courier, monospace;
      margin: 0px;
      text-align: left;">
      https://DOMAIN/ResQHub?lat=<span style="color: blue">your-latitude</span>&long=<span style="color: blue">your-longitude</span>&key=<span style="color: blue">your-api-key</span>
      </p>
      <p style=
      "font-family: Arial, Helvetica, sans-serif;
      margin-top: 20px;
      font-weight: bold;
      text-align: left;">Your keys:</p>
      <p style=
      "margin: 0px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;">For police station requests: </p>
      <br>
      <p style=
      "margin: 0px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;">For hospital requests: </p>
    </main>
    <footer>
    </footer>
  </body>
</html>